@import '../scss/common.scss';
.team-item{
    .social-btn{
        padding:0;
        width:38px;
        height:38px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        border-radius: 2px;
        color:$white;
    }
    h4{
        color:$background-dark;
    }
    p{
        font-size:19px;
    }
    &:hover{
        background:$primary-color opacity(0.2);
        
        img{
            transform:scale(1.1);
            transition:0.5s;
        }
        .social-btn{
            color:$primary-color;
            background:$white;
        }
    }
}