.contact-page{
    margin-bottom: 80px;
    
    .contact-form{
        font-size: 19px;
        input {
            border-radius: 0;
        }
        textarea{
            height: 150px;
            border-radius:0;
        } 
        button{
            width:100%;
            border-radius: 0;
            padding: 10px 0;
        }
    }   
}
 