@import url( 'https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Futura PT Demi";
    src: url("../fonts/FuturaPT-Demi.eot");
    src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FuturaPT-Demi.woff2") format("woff2"),
        url("../fonts/FuturaPT-Demi.woff") format("woff"),
        url("../fonts/FuturaPT-Demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT Book";
    src: url("../fonts/FuturaPT-Book.eot");
    src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FuturaPT-Book.woff2") format("woff2"),
        url("../fonts/FuturaPT-Book.woff") format("woff"),
        url("../fonts/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.eot");
    src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
        url("../fonts/FuturaPT-Medium.woff") format("woff"),
        url("../fonts/FuturaPT-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Savoye LET";
    src: url("../fonts/SavoyeLetPlain.eot");
    src: url("../fonts/SavoyeLetPlain.eot?#iefix") format("embedded-opentype"),
        url("../fonts/SavoyeLetPlain.woff2") format("woff2"),
        url("../fonts/SavoyeLetPlain.woff") format("woff"),
        url("../fonts/SavoyeLetPlain.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

$primary-color: #FEA116;
$primary-hov-color:#feaf39;
$secondary-color: #C6A66A;
$background-dark:#0F172B;
$background-primary: #F1F8FF;
$border-primary: #e8e8e8;
$border-color-hr: #DCE0E5;
$border-color: #BFC5CC;
$text-secondary: #666565;
$text-light:#F1F8FF;
$black: #000000;
$white: #ffffff;
$red-color: #FF4648;
$ff1: "Futura PT Book";
$ff2: "Futura PT";
$ff3: "Futura PT Demi";
$ffsl: "Savoye LET";
$theme-colors: (
    "primary": $primary-color,
);
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}
.btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover{
        background-color: $primary-hov-color;
        border-color: $primary-hov-color;
    }
}
.btn-dark{
    background-color: $background-dark;
    border-color: $background-dark;
    &:hover{
        background-color: $background-dark;
        border-color: $background-dark;
    }
}
body {
    font-family: $ff1;
    color: $text-secondary;
    font-size: 1rem;
}
.f-20{
    font-size:20px;
}
.f-19{
    font-size:19px;
}
.back-dark{
    background: $background-dark;
}
.back-primary{
    background-color: $primary-color;
}
.textPrimary{
    color: $primary-color;
}
.textDark{
    color: $background-dark;
}
.textLight{
    color: $text-light;
}
a{
    color: $primary-color;
    text-decoration: none;
    &:hover{
        color:#cb8112;
    }
}
.section-header{
    h4{
        position:relative;
        display:inline-block;
        &:before{
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            top: 50%;
            left: -55px;
            margin-top: -1px;
            background:$primary-color;
        }
        &:after{
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            top: 50%;
            right: -55px;
            margin-top: -1px;
            background:$primary-color;
        }
    }
}

.sub-section-header{
    h4,h5,h6{
        position:relative;
        display:inline-block;

        &:after{
            position: absolute;
            content: "";
            width: 45px;
            height: 2px;
            top: 50%;
            right: -55px;
            margin-top: -1px;
            background:$primary-color;
        }
    }
}

